<h1>IRS Notifier HomePage</h1>

<h3>Companies</h3>
<ul>
<% @companies.each do |company| %>
  <li><%= company.company_name %></li>
<% end %>

</ul>


<%= link_to 'Create a Company Profile', new_company_path %>
